<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833965396238-fen7tef3v0vqb3f7nnvkvf4fnekjf97c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833965396238-fen7tef3v0vqb3f7nnvkvf4fnekjf97c</string>
	<key>API_KEY</key>
	<string>AIzaSyCapVQqmG6Rc4qo0fSXiEhvtrhOC0lIGdo</string>
	<key>GCM_SENDER_ID</key>
	<string>833965396238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTrackerApp1</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-ada0e</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-ada0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833965396238:ios:82305bf8f73690b87f475f</string>
	<key>DATABASE_URL</key>
	<string>https://expense-tracker-ada0e-default-rtdb.firebaseio.com</string>
</dict>
</plist>